.logo .content .shopping-cart {
	width: 195px;
	height: 250px;
	margin-left: 103px;
}

.logo .content h1 {
	color: #ff0F46;
	margin-top: -10px;
	margin-left: 57px;
}

.enter-item .content {
	margin-left: 437px
}

.main-list .content .list {
	display: block;
	width: 250px;
	height: 200px;
	padding: 29px;
	border: 1px black;
	margin: 0;
	border-style: solid;
	margin-top: 49px;
	margin-left: 329px;
}

.main-list .content h2 {
	margin-left: 329px;
	margin-bottom: -30px;
}

.other-list .content .cart {
	display: block;
	width: 250px;
	height:200px;
	padding: 29px;
	border: 1px black;
	margin: 0;
	border-style: solid;
	margin-top: 36px;
	margin-left: 673px;
}

.other-list h2 {
	margin-top: -305px;
	margin-bottom: -19px;
	margin-left: 675px;
}

.trash .content button {
	margin-top: 41px;
	margin-left: 898px;
}